<mat-toolbar color="primary" class="mat-elevation-z6">
  <a mat-button [routerLink]="['/']"><span><mat-icon>eco</mat-icon>The Cullinan South Tower</span></a>
  <div class="spacer"></div>
  <a mat-button [routerLink]="['/admin/add-room']">Agregar habitación</a> <!-- Para el rol administrador -->
  <a mat-button [routerLink]="['/admin/manage-guests']">Gestionar huéspedes</a> <!-- Para el rol administrador -->
  <a mat-button [routerLink]="['/rooms']">Habitaciones</a>
  <a mat-button [routerLink]="['/auth/login']">Iniciar Sesión</a>
  <a mat-raised-button [routerLink]="['/auth/register']">Registrarse</a>
  <a mat-button [routerLink]="['/']">Cerrar Sesión</a>
</mat-toolbar>