<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nombre usuario</mat-card-title>
  </mat-card-header>
  <div [formGroup]="commentsForm">
    <div class="div-rating">
      <span>
        <h3>Calificación:</h3>
      </span>
      <star-rating-control [hoverEnabled]="true" [readOnly]="true" [rating]="raitingValue"></star-rating-control>
    </div>
  </div>
  <mat-card-content>
    <p>
      Comentario que ya viene en la habitación con calificación
    </p>
  </mat-card-content>
</mat-card>