<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nombre usuario</mat-card-title>
  </mat-card-header>
  <div [formGroup]="commentsForm">
    <span>Calificación:</span>
    <star-rating-control [hoverEnabled]="true" formControlName="rating" ></star-rating-control>
  </div>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>